[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
opencv-python = "*"
selenium = "*"
numpy = "*"
jinja2 = "*"
neo4j = "*"

[requires]
python_version = "3.6"
